html{
    font-size: 10px;
}

.caja{
    width: 30rem;
    height: 30rem;
    font-size: 2rem;
    margin: 0px auto;
    text-align: center;
    background-color: beige;
    border: 1px solid black;
}

@media (max-width: 768px){
    :root{
        background-color: lightgray;
        font-size: 15px;
    }
}